<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Калькулятор викидів</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Калькулятор викидів</h1>
        <div class="button-container">
            <a href="/formula1" class="button">Валовий викид</a>
            <a href="/formula2" class="button">Показник емісії</a>
            <a href="/combined" class="button">Обидва розрахунки</a>
        </div>
    </div>
</body>
</html>
